* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #ffffff;
  text-align: center;
  padding: 40px;
  color: #222;
}

h1 {
  margin-bottom: 40px;
  font-size: 32px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  max-width: 900px;
  margin: 0 auto;
}

.card {
  padding: 35px 20px;
  border: 2px solid #e0e0e0;
  border-radius: 14px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
  background: #fff;
}

.card:hover {
  border-color: #007bff;
  transform: translateY(-5px);
}

.hidden {
  display: none;
}

.question-box {
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid #e0e0e0;
  padding: 30px;
  border-radius: 14px;
}

#answers {
  margin-top: 20px;
}

.answer {
  display: block;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.answer:hover {
  background: #f2f2f2;
}

#feedback {
  margin-top: 20px;
  font-weight: bold;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.answer.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.menu-btn {
  background: transparent;
  color: #007bff;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 15px;
  text-align: left;
}

.menu-btn:hover {
  text-decoration: underline;
}

#counter {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}
.amount {
  font-size: 22px;
  font-weight: bold;
}

#amountSelector h2 {
  margin-bottom: 30px;
}

#questionImage {
  max-width: 100%;
  max-height: 250px;
  margin: 15px auto;
  display: block;
  border-radius: 10px;
}
.back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

